@use '../../../styles/variables' as *;
@use 'sass:color';

.link {
  text-decoration: none;
  font-family: $font-family;
  transition: color $transition-fast;
  
  &--primary {
    color: $primary-color;
    
    &:hover {
      color: color.scale($primary-color, $lightness: -20%);
    }
  }
  
  &--secondary {
    color: $placeholder-color;
    
    &:hover {
      color: $text-color;
    }
  }
  
  &--terms {
    color: $placeholder-color;
    font-size: 14px;
    text-decoration: underline;
    
    &:hover {
      color: $text-color;
    }
  }
} 